# Google Maps API Keys

# Android: Enable "Maps SDK for Android"
GOOGLE_MAPS_ANDROID_API_KEY=AIzaSyBd36bChMgPgSy5x1rJKG_2CPQLFdZn2ZY

# iOS: Enable "Maps SDK for iOS"
GOOGLE_MAPS_IOS_API_KEY=AIzaSyBd36bChMgPgSy5x1rJKG_2CPQLFdZn2ZY